@media only screen and (max-width: 1000px) {
  .divgrid {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 50px;
      grid-template-areas:
        "centerdiv leftdiv rightdiv";
    }
}